<%= form_for(@edicion) do |f| %>
  <% if @edicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edicion.errors.count, "error") %> prohibited this edicion from being saved:</h2>

      <ul>
      <% @edicion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :actual %><br>
    <%= f.check_box :actual %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
